extends ../layout/layout
block content
  div(class="row")
    div(class="col-md-12")
      table(class="table")
        thead
          tr
            th Lp.
            th Klucz
            th Wartość
            th Akcje
        tbody
          each kb, index in bitmaps
            tr
              td= (index+1)+"."
              td= kb.key
              td= kb.value + " = (" + kb.bits + ")"
              td
                div(class="btn-group")
                  a(href=`/bitmaps/update/${kb.key}`, class="btn btn-primary btn-sm") 
                    i(class="fa fa-edit")
                    span Edytuj
                  a(href=`/bitmaps/delete/${kb.key}`, class="btn btn-danger btn-sm")
                    i(class="fa fa-trash-o")
                    span Usuń
                
  div(class="row")
    div(class="col-md-offset-10 col-md-2")
      a(href="/bitmaps/create", class="btn btn-success btn-block")
        i(class="fa fa-plus")
        span Nowy
